.mainParent{
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.first_childDiv{
    width: 90vw;
}
.second_childDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatAside{
    width: 20vw;
    min-width: 280px;
    height: 90vh;
    border: 2px solid yellowgreen;
    border-radius: 5px;
}

.chatMainChatbox{
    width: 70vw;

}


@media (max-width:700px) {
    .first_childDiv{
        width: 100vw;
    }
    .chatMainChatbox{
        width: 100vw;
    min-width: 300px;
    /* display: none; */
    }
    .chatAside{
        width: 100vw;
        min-width: 300px;
    }
}