.userguiSpan{
    padding: 4px 2px 4px 2px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(1, 1, 124, 0.897);
    border-radius: 10px;

}

.userGuiImage{
    max-width: 100px;
    border-radius: 100%;
    overflow: hidden;
}

@media (max-width: 600px) {
    .userGuiImage{
        max-width: 64px;
        max-height: 64px;
    }
}